<launch>

	<arg name="log" default="false"/>
	
	<arg name="propulsion_address" default="128"/>

	<arg name="test_sabertooth" default="false"/>
	<arg name="test_motors" default="true"/>
	<arg name="debug_motors" default="true"/>

	<arg name="serial_port" default="/dev/nautonomous/actuation"/>
	<arg name="serial_available" default="false"/>

	<node name="nautonomous_actuation_propulsion_sabertooth" pkg="nautonomous_actuation_propulsion_sabertooth" type="sabertooth_propulsion_node" output="screen">
		<!-- Inputs -->
		<remap from="propulsion" to="/actuation/propulsion/sabertooth" />

		<!-- Parameters -->
		<param name="test_sabertooth" type="bool" value="$(arg test_sabertooth)"/>
		<param name="test_motors" type="bool" value="$(arg test_motors)"/>
		<param name="debug_motors" type="bool" value="$(arg debug_motors)"/>
		<param name="serial_available" type="bool" value="$(arg serial_available)"/>
		
		<param name="propulsion_address" type="int" value="$(arg propulsion_address)"/>
		<!-- Outputs -->
		<param name="serial_port" value="$(arg serial_port)"/>
	</node>

	<node pkg="rosbag" type="record" name="rosbag_output_send" args="record -o /media/NautonomousBlackBox/bags/Output/send /actuation/propulsion/autonomous /actuation/conveyor/autonomous /actuation/lighting/autonomous" output="screen" if="$(arg log)"/>
</launch>
